@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}

.section{
    @apply w-[500px] h-[600px] border-2 border-red-500 m-auto; 
}

.search-container{
    @apply text-2xl
}
